<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/order" method="post">
        <button type="button" class="btn btn-sm btn-success float-right" onclick="addProduct();">상품추가</button>
        <div class="form-group">
            <label for="account">주문채널</label>
            <select name="accountCode" id="account" class="form-control">
                <option value="">채널선택</option>
                <option th:each="account : ${accounts}"
                        th:value="${account.accountCode}"
                        th:text="${account.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="member">주문회원</label>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="item0">상품명</label>
            <select name="item[0].itemId"  class="form-control product-name" id="item0">
                <option value="">상품선택</option>
                <option th:each="item : ${items}"
                        th:value="${item.id}"
                        th:text="${item.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="count0">주문수량</label>
            <input type="number" name="item[0].count" class="form-control" id="count0"
                   placeholder="주문 수량을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script th:inline="javascript">
    var itemList = [[${items}]];
    function addProduct(){
        let productLength = $(".product-name").length;
        let html = "";
        html += "<div class=\"form-group\">\n" +
            "            <label for=\"item\">상품명</label>\n" +
            "            <select name=\"item["+productLength+"].itemId\" id=\"item"+productLength+"\" class=\"form-control product-name\">\n" +
            "                <option value=\"\">상품선택</option>\n" ;

        for (var i=0; i<itemList.length;i++){
            html +="<option value=\""+itemList[i].id+"\">"+itemList[i].name+"</option>";
        }

        html += "</select>\n" +
            "        </div>\n" +
            "        <div class=\"form-group\">\n" +
            "            <label for=\"count\">주문수량</label>\n" +
            "            <input type=\"number\" name=\"item["+productLength+"].count\" class=\"form-control\" id=\"count"+productLength+"\"\n" +
            "                   placeholder=\"주문 수량을 입력하세요\">\n" +
            "        </div>";
        $(".form-group").last().after(html);
    }
</script>

</html>